<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="MemberMapper">

<insert id="registerMember"  parameterType = "memberVO">
INSERT 
INTO members(id, password, name, address)
VALUES(
#{id},
#{password},
#{name},
#{address}

)

</insert>

<delete id = "deleteMember" parameterType="string">
	DELETE
	FROM members
	WHERE id=#{VALUE}
	</delete>

<update id ="updateMember">
UPDATE members
		SET name = #{name}
		WHERE id=#{id}
</update>
<select id = "showAllMember" parameterType = "memberVO" resultType = "memberVO">
SELECT
id, 
password,
name,
address
FROM members
</select>

<select id = "getMember" resultType="memberVO" parameterType="string">
SELECT 
id,
name,
password,
address
FROM members
WHERE id=#{VALUE}
</select>

<select id = "idExist"  parameterType="memberVO">
SELECT
id
password
FROM member
WHERE id=#{id}

</select>


<select id ="login"  parameterType="memberVO" resultType="string">
SELECT 
name 
FROM members
WHERE id=#{id} AND password=#{password}
</select>

</mapper>

	
